In [12]:
import numpy as np 
import pandas as pd

In [13]:
data = pd.read_csv('student_depression_dataset.csv')
data.head()

,id,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,2,Male,33.0,Visakhapatnam,Student,5.0,0.0,8.97,2.0,0.0,'5-6 hours',Healthy,B.Pharm,Yes,3.0,1.0,No,1
1,8,Female,24.0,Bangalore,Student,2.0,0.0,5.90,5.0,0.0,'5-6 hours',Moderate,BSc,No,3.0,2.0,Yes,0
2,26,Male,31.0,Srinagar,Student,3.0,0.0,7.03,5.0,0.0,'Less than 5 hours',Healthy,BA,No,9.0,1.0,Yes,0
3,30,Female,28.0,Varanasi,Student,3.0,0.0,5.59,2.0,0.0,'7-8 hours',Moderate,BCA,Yes,4.0,5.0,Yes,1
4,32,Female,25.0,Jaipur,Student,4.0,0.0,8.13,3.0,0.0,'5-6 hours',Moderate,M.Tech,Yes,1.0,1.0,No,0

In [14]:
data.shape

(27901, 18)

In [15]:
data = data[data['Profession'] == 'Student']
data['Study Hours'] = data['Work/Study Hours']
data = data.drop(['id','City','Profession','Work Pressure','Job Satisfaction','Degree','Work/Study Hours'], axis=1)
data['Gender'] = data['Gender'].apply(lambda x: 1 if x == 'Male' else 0)
data = data[data['Sleep Duration'] != 'Others']
data['Sleep Duration'] = data['Sleep Duration'].apply(
        lambda x: (3 if 'More than 8 hours' in x 
                else 2 if '7-8 hours' in x 
                else 1 if '5-6 hours' in x 
                else 0))
data = data[data['Dietary Habits'] != 'Others']
data['Dietary Habits'] = data['Dietary Habits'].apply(
        lambda x: (2 if 'Healthy' in x 
                else 1 if 'Moderate' in x 
                else 0))
data['Have you ever had suicidal thoughts ?'] = data['Have you ever had suicidal thoughts ?'].apply(lambda x:1 if x == 'Yes' else 0)
data['Family History of Mental Illness'] = data['Family History of Mental Illness'].apply(lambda x:1 if x == 'Yes' else 0)

In [16]:
data.head()

,Gender,Age,Academic Pressure,CGPA,Study Satisfaction,Sleep Duration,Dietary Habits,Have you ever had suicidal thoughts ?,Financial Stress,Family History of Mental Illness,Depression,Study Hours
0,1,33.0,5.0,8.97,2.0,1,2,1,1.0,0,1,3.0
1,0,24.0,2.0,5.90,5.0,1,1,0,2.0,1,0,3.0
2,1,31.0,3.0,7.03,5.0,0,2,0,1.0,1,0,9.0
3,0,28.0,3.0,5.59,2.0,2,1,1,5.0,1,1,4.0
4,0,25.0,4.0,8.13,3.0,1,1,1,1.0,0,0,1.0

In [17]:
data.shape

(27840, 12)

In [ ]:
df = data.select_dtypes(include=[np.number])
df.shape

(27840, 11)

In [19]:
data.replace('?', np.nan, inplace=True)

In [20]:
data = data.dropna()

In [21]:
data.isnull().sum()

Gender                                   0
Age                                      0
Academic Pressure                        0
CGPA                                     0
Study Satisfaction                       0
Sleep Duration                           0
Dietary Habits                           0
Have you ever had suicidal thoughts ?    0
Financial Stress                         0
Family History of Mental Illness         0
Depression                               0
Study Hours                              0
dtype: int64

In [22]:
data.shape

(27837, 12)