In [89]:
import numpy as np 
import pandas as pd

In [90]:
df = pd.read_csv('student_depression_dataset.csv')
df.head()

,id,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,2,Male,33.0,Visakhapatnam,Student,5.0,0.0,8.97,2.0,0.0,'5-6 hours',Healthy,B.Pharm,Yes,3.0,1.0,No,1
1,8,Female,24.0,Bangalore,Student,2.0,0.0,5.90,5.0,0.0,'5-6 hours',Moderate,BSc,No,3.0,2.0,Yes,0
2,26,Male,31.0,Srinagar,Student,3.0,0.0,7.03,5.0,0.0,'Less than 5 hours',Healthy,BA,No,9.0,1.0,Yes,0
3,30,Female,28.0,Varanasi,Student,3.0,0.0,5.59,2.0,0.0,'7-8 hours',Moderate,BCA,Yes,4.0,5.0,Yes,1
4,32,Female,25.0,Jaipur,Student,4.0,0.0,8.13,3.0,0.0,'5-6 hours',Moderate,M.Tech,Yes,1.0,1.0,No,0

In [91]:
df.shape

(27901, 18)

In [92]:
df['Profession'].value_counts()

Profession
Student                     27870
Architect                       8
Teacher                         6
'Digital Marketer'              3
Chef                            2
'Content Writer'                2
Pharmacist                      2
Doctor                          2
'UX/UI Designer'                1
'Civil Engineer'                1
Manager                         1
'Educational Consultant'        1
Lawyer                          1
Entrepreneur                    1
Name: count, dtype: int64

In [93]:
df = df[df['Profession'] == 'Student']
df.shape

(27870, 18)

In [94]:
df = df.drop(['id','City','Profession','Work Pressure','Job Satisfaction','Degree'], axis=1)

In [109]:
df.shape

(27840, 12)

In [116]:
df.head()

,Gender,Age,Academic Pressure,CGPA,Study Satisfaction,Sleep Duration,Dietary Habits,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,Male,33.0,5.0,8.97,2.0,1,2,1,3.0,1.0,0,1
1,Female,24.0,2.0,5.90,5.0,1,1,0,3.0,2.0,1,0
2,Male,31.0,3.0,7.03,5.0,0,2,0,9.0,1.0,1,0
3,Female,28.0,3.0,5.59,2.0,2,1,1,4.0,5.0,1,1
4,Female,25.0,4.0,8.13,3.0,1,1,1,1.0,1.0,0,0

In [115]:
df['Family History of Mental Illness'].value_counts()

Family History of Mental Illness
0    14365
1    13475
Name: count, dtype: int64

In [105]:
df = df[df['Dietary Habits'] != 'Others']

In [114]:
df['Family History of Mental Illness'] = df['Family History of Mental Illness'].apply(lambda x:1 if x == 'Yes' else 0)